* {
  margin:0px;
  padding:0px;
}

.font-details {
  font-family:sans-serif;
  font-size:20px;
}

.app-header {
height:200px;
background-color:#333333;
text-align: center;
}

.title-text {
  color: white;
  font-size:2rem;
  padding-top:80px;
}
.secondary-title-text
{
  font-size:1.3rem;
  color:white;
  padding-top:20px;
}

.individual-item {
  height:70px;
  border-bottom:1px solid grey;
  margin-left:10px;
  padding-top:50px;
}

.main-text {
  color:#333333;
  font-weight: bold;
  display:inline;
  margin-left:10px;
}

.app-footer {
  height:70px;
  background-color:#333333;
  text-align:center;
}

